@page "/Contacts/DeleteContact/{Id:int}"

<h1 class="mb-3">Delete Client</h1>
<p>Are you sure you want to delete contact with name: @_internalContactModel.Name 
    and mobile number: @_internalContactModel.PhoneNumber?</p>
<button class="btn btn-danger" @onclick="Delete">Yes</button>
<button class="btn btn-outline-primary" @onclick="Cancel">No</button>