@page "/Contacts"

<h1 class="text-center mb-3">List of Contacts</h1>

<a class="btn btn-outline-secondary mb-3" href="Contacts/CreateContact">
    New Contact
    <i class="bi bi-plus-circle"></i>
</a>
<button class="btn btn-outline-info  mb-3 ms-2" @onclick="ToggleSearchForm">
    Search Contact
    <i class="bi bi-search"></i>
</button>

@if (_showSearchForm)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Search by Name" @bind="_searchName" />
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Search by Phone" @bind="_searchPhone" />
        </div>
    </div>
    <button class="btn btn-success " @onclick="SearchContacts">
        Search <i class="bi bi-search me-1"></i>
    </button>
    <button class="btn btn-dark" @onclick="ResetSearch">
        Clear <i class="bi bi-x-circle me-1"></i>
    </button>
}

@if (_contacts == null)
{
    <p>Loading...</p>
}
else if (_contactList == null || _contactList.Count == 0)
{
    <p>No contacts found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email Address</th>
                <th>Created</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in _contactList)
            {
                <tr>
                    <td>@contact.Name</td>
                    <td>@contact.PhoneNumber</td>
                    <td>@contact.EmailAddress</td>
                    <td>@contact.CreatedDate.ToString("yyyy-MM-dd")</td>
                    <td style="white-space:nowrap">
                        <a class="btn btn-outline-secondary btn-sm" href="Contacts/EditContact/@contact.Id">
                            <i class="bi bi-pencil-fill me-1"></i>Edit
                        </a>
                        <a class="btn btn-danger btn-sm" href="Contacts/DeleteContact/@contact.Id">
                            <i class="bi bi-trash-fill me-1"></i> Delete
                        </a>
                    </td>
                </tr>
            }
           
        </tbody>
    </table>
}